.btn-rounded{
	position: absolute;
	bottom: 5%;
	width:67px;
	height: 67px;
	display: block;
	left: 50%;
	margin-left: -33.5px;
	background-color: #ffd000;
	border-radius: 100%;
	font-size: 25px;
	border: 4px solid orange;
	padding: 11px 17px;
	cursor: pointer;
	background: url(../imgs/logo.png);
	background-size: contain;
}

.img-container{
	display: none;
}

.img-container canvas{
	display: none;
	position: absolute;
}