
p.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 54%;
  top: 100%;
  border: 25px solid;
  border-color: #666 transparent transparent #666;
}

p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 55%;
  top: 100%;
  border: 15px solid;
  border-color: #F4FEFE transparent transparent #F4FEFE;
}

blockquote {
  padding: 0px 0px !important;
  margin: 0 0 0px !important;
  border-left: 0px solid #eeeeee !important;
}